body {
    font-family: Arial, sans-serif;
    background-color: #FFC0CB; /* Cor rosa */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF69B4; /* Rosa mais escuro */
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    margin: 0;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    background-color: #FF69B4; /* Rosa mais escuro */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
